*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Playwrite NZ Basic';
}

header{
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.sub-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: hsl(0, 0%, 40%);
}
.main-heading{
    font-weight: 400;
    font-size: 2rem;
}
.logo img src{
    height: 100px;
}

.search-section h3{
    font-weight: 400;
    margin-left: 20px;
}

.search-section input{
    padding: 10px 40px;
    margin: 20px;
    outline: navy;
    border: 1px solid navy;
    border-radius: 10px;
}

.search-section button{
    padding: 10px 30px;
    margin-left: -20px;
    border-radius: 10px;
    border: none;
    background-color: hsl(240, 100%, 35%);
    color: white;
    font-weight: 200;
}

.card{
    background-color: aliceblue;
    max-width: 75%;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
}

